ASPNETCORE_ENVIRONMENT=Production
NGINX_PORT=8080

MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=change-this-root-password
MYSQL_DATABASE=eSaleDb
MYSQL_USER=esale_user
MYSQL_PASSWORD=change-this-app-password
REDIS_PORT=6379
SEQ_PORT=5341
